.TitleBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid gray;
    font-family: 'Josefin Sans', sans-serif;
}

/*---------------------*/

.TitleBar > svg {
    margin: 0 1%;
}

.TitleBar > h2 {
    
}